@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.animate__animated.no-animation {
	--animate-duration: 0s;
	--animate-delay: 0s;
	--animate-repeat: 0s;
}
