<div class="grid grid-cols-7 h-screen">
	<div class="bg-gray-900 h-full text-white col-span-7 sm:col-span-7 md:col-span-7 lg:col-span-3 xl:col-span-3">
		<div class="container mx-auto px-12 py-8">
			<div class="animate__animated animate__fadeInLeft -mx-1">
				<svg
					class="w-20 h-20 lg:w-48 lg:h-48"
					width="166px"
					height="193px"
					viewBox="0 0 166 193"
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
				>
					<title>Logo</title>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Desktop-HD" transform="translate(-46.000000, -13.000000)">
							<rect id="Light-gray-bg" fill="#F7FAFC" x="0" y="0" width="1440" height="1024"></rect>
							<rect
								id="Dark-gray-bg"
								stroke="#979797"
								fill="#1A202C"
								x="0.5"
								y="0.5"
								width="798"
								height="1023"
							></rect>
							<g id="Logo" transform="translate(48.000000, 13.000000)">
								<rect
									id="Rectangle"
									stroke="#2B6CB0"
									stroke-width="4"
									fill="#1A202C"
									x="0"
									y="29"
									width="162"
									height="162"
									rx="8"
								></rect>
								<text
									id="n."
									fill-rule="nonzero"
									font-family="Arial-Black, Arial Black"
									font-size="135"
									font-weight="700"
									fill="#BEE3F8"
								>
									<tspan x="15" y="149">n.</tspan>
								</text>
							</g>
						</g>
					</g>
				</svg>
			</div>
			<div
				class="font-black text-lg lg:text-6xl leading-none tracking-tight text-blue-200 pt-24 animate__animated animate__fadeInLeft animate__delay-2s"
			>
				<h1>hi,<br />i'm <span class="italic">naveen.</span></h1>
			</div>
			<div
				class="font-thin text-base lg:text-xl leading-none text-blue-500 w-3/5 animate__animated animate__fadeInLeft animate__delay-3s"
			>
				<p>
					i'm a recent physics graduate with minors in mathematics and computer science who's
					<span class="italic">passionate</span> about building things
				</p>
			</div>

			<div
				class="font-black leading-none text-base lg:text-2xl animate__animated animate__lightSpeedInLeft animate__delay-4s pt-20"
			>
				<p>
					<span class="text-blue-200">got an idea?</span
					><a href="#" class="hover:underline text-blue-500 pl-2 italic">get in touch.</a>
				</p>
				<p>
					<span class="text-blue-200">checkout my portfolio</span
					><span class="text-blue-500 invisible sm:invisible md:invisible lg:visible xl:visible">
						<svg
							class="inline w-12 h-12"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M17 8l4 4m0 0l-4 4m4-4H3"
							/>
						</svg>
					</span>
				</p>
			</div>
			<div
				class="font-black text-sm lg:text-base leading-wider text-blue-500 animate__animated animate__lightSpeedInLeft animate__delay-4s"
			>
				<a class="hover:underline pr-2" href="https://github.com/nmathew98">github</a>·<a
					class="hover:underline pl-2"
					href="#"
					>linkedin</a
				>
			</div>

			<div
				class="visible sm:visible md:visible lg:invisible xl:invisible pt-8 animate__animated animate__fadeIn animate__delay-5s items-center"
			>
				<svg
					class="animate-bounce w-8 h-8 text-blue-500"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
				</svg>
			</div>
		</div>
	</div>
	<div class="bg-gray-300 h-full text-gray-900 col-span-7 sm:col-span-7 md:col-span-7 lg:col-span-4 xl:col-span-4">
		<div class="container mx-auto px-12 py-8">
			<h1>HELLO WORLD</h1>
		</div>
	</div>
</div>
